In [ ]:
1. Write a Python Program to Find the Factorial of a Number?

In [17]:
def factorials(a):
    f=1
    for i in range (1,(a+1)):
        f=f*i
    print ("Factorial of" ,a, "is", f)

In [18]:
a=int(input ())
factorials(a)

45
Factorial of 45 is 119622220865480194561963161495657715064383733760000000000

In [ ]:
2. Write a Python Program to Display the multiplication Table?

In [17]:
def multiplication(b) :
    count=[]
    flag =1
    while flag<11:
        result= b*flag
        flag=flag+1
        count.append(result)
    return ("table of",b, "is",count)

In [18]:
b=int(input())
multiplication(b)

3

('table of', 3, 'is', [3, 6, 9, 12, 15, 18, 21, 24, 27, 30])

In [ ]:
3. Write a Python Program to Print the Fibonacci sequence?

In [44]:
num=0
num1=1
if num<2:
    print (num,end=" ")
    print(num1,end=" ")
while num<20:
    su=num+num1
    print (su,end=" ")
    num=num1
    num1=su

0 1 1 2 3 5 8 13 21 34

In [ ]:
4. Write a Python Program to Check Armstrong Number?

In [99]:
a=(input())
su=0
for i in a:
    i=int(i)
    result=i**len(a)
    su=su+result
    
a=int(a)
if a==su:
    print (a,"is armstrong number")
else:
    print (a,"is not armstrong number")

1
1 is armstrong number

In [ ]:
5. Write a Python Program to Find Armstrong Number in an Interval

In [15]:
A=int(input())
B=int(input())

l=[]
for i in range(A, B+1):
   order = len(str(i))
   sum1 = 0
   copy_i = i
   while copy_i > 0:
       su = copy_i % 10
       sum1=sum1+su ** order
       copy_i //= 10
   if i == sum1:
       l.append(i)
print(l)

1
500
[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

In [ ]:
6. Write a Python Program to Find the Sum of Natural Numbers?

In [25]:
def sum_of_natual_number(n):
    num=n
    add=0
    while (n>0):
        add=add+n
        n=n-1
    return ("The sum of natual number ",num, "is",add)

In [27]:
n=int(input())
sum_of_natual_number(n)

45

('The sum of natual number ', 45, 'is', 1035)