## Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
with cte as (Select Name, salary,row_number() over (partition by name order by salary desc) as ranks from employee)
select * from cte
where ranks=5;

## Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
Select  e1.employee_name as employee_Name  from employee as e1 
join employees as e2
where e1.employee_name!=e2employee_name
and e1.salary=e2.salary