Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

Select RTRIM(FIRST_NAME) AS First_Name from worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [ ]:
Select distinct Department , length(Department) from worker ;

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
select max(salaries) from worker;