## Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
Intersection means finding the common result b/w two query , Some important fact in intersect are number of columns and data type 
must be same in both the Select statement.

Select Employee_name , Salary from employees
intersect 
select Employee_name , salary from department

## Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
Select t1.* from Table1 as t1
left join table2 as t2
where t1.id!=t2.id