Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

Select REPLACE(FIRST_NAME,'a','A') as First_Name from worker;

Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
Select * from worker 
order by FIRST_NAME  asc ,DEPARTMENT desc

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
Select Fist_Name from Worker 
where Salary=(select max(salary) from worker)