## Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
Select * from employees 
limit 10

## Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
with cte as (Select Name, salary,row_number() over (partition by name order by salary desc) as ranks from employee)
select * from cte
where ranks=5;