Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
Select * from worker where month(Joining date)=2 and year(joining date)=2014

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
Select employee_id,count(*) from employee 
group by employee_id
having count(*)>1

Q-3. How to remove duplicate rows from Employees table.

In [ ]:
WITH cte as ( Select Employeeid,EmployeeName, Depertment , count(*) FROM employees 
               groupby 1,2,3
            having count(*)>1)

delect from cte