## Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
with cte as (SELECT *,ROW_NUMBER() OVER() AS row_numbers FROM MOVIESDB.MOVIES)
select * from cte
where mod(row_numbers,2)!=0

## Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
Create Table Prashant select * from employees